html, body {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF;
	color: #47423F;
	font-family: 'Arial';
	font-size: 14px;
}

div#container {
	width: 800px;
	margin: 0 auto;
	background-color: #FFFFFF;

}

div#left {
	float: left;
	width: 150px;
	background-color: #FFFFFF;
	padding: 2em 0 0 0;

}

div#center {
	float: left;
	width: 450px;
	background-color:#FFFFFF;
	padding: 2em 0 0 0;
}

div#right {
	float: right;
	width: 150px;
	background-color: #FFFFFF;
	padding: 2em 0 0 0em;
}

div#news li {
	font-size: 11px;

}

ul#menu {
	margin-top: 20px;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	padding: 1em 0;
}

ul#menu li {
	display: inline;
	margin-right: 15px;
}

hr {
     color: #d4d4d4;
     width: 100%; 
     margin: 0 0 20px 0; 
	padding: 0;
}

a:link, a:visited {
	text-decoration: underline;
}

a:link {
	color: #0000FF;
}

a:visited {
	color: #800080;
}

a:hover {
	color: #C24641;
}

a img {
	border: none;
}

.image-link
{
  text-decoration: none;
}

.image-link span
{
  text-decoration: underline;
}

p {
	font-size: 14px;
	line-height: 1.3;
}

h1, h2, h3 {
	font-family: 'Arial';
	font-weight: normal;
}

h1 {
	font-size: 2.5em;
	font-family: 'Montaga';
	margin: 0;
	padding: 0;
	color: #000000;
}

h2 {
	font-size: 1.5em;
	margin: 0.10em 0;
	padding: 0;
	color: #000000;
}

h3 {
	font-size: 1.3em;
	margin: 0.5em 0;
	padding: 0;
	color: #84978F;
}

ul {
	list-style: none;
	margin: 0 0 25px 0;
	padding: 0;
}

ul li {
	margin: 1em 0;
}

.line-seperator {
	height: 1px;
	width: 80%;
	border-bottom: 1px solid #d3d3d3;

}

ul li.traditional {
	list-style-type: disc;
	margin: 1em 2.5em;
}

#wordmark {
	width:244px;
	background-color:#990000;
	height: 35px;
}

#wordmark h2 {
	margin:0px;
	padding:0px;
}

#wordmark h2 a {
	display:block;
	width:244px;
	height:35px;
	background-image:url(http://www.cmu.edu/common/standard-v3/images/wordmark.gif);
	background-repeat:no-repeat;
	background-position:left top;
	text-indent: -9999px;
}
#wordmark h2 a span {
	height: 1px;
	width: 1px; 
	position:absolute;
	overflow:hidden;
	top:-10px;
}
#pageHeader {
	width:100%;
	height:35px;
	background-color: #990000;
/*	position:absolute;
	top:0px;
	left:0px; */
}

table { 
  border-spacing:0;
  border-collapse:collapse;
}

table td {
	vertical-align: bottom;
}



#footer {
    clear: both;
}
